<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="card-columns">
            <div *ngFor="let product of dataInput; let i = index" class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="product.img" alt="Card image cap" width="250" height="250">
                <div class="card-body" style="text-align: center;">
                  <h5 class="card-title">{{product.nombre}}</h5>
                  <p class="card-text">${{product.precio}}</p>
                  <p class="card-text">{{product.descripcion}}</p>
                  <a class="btn btn-secondary" (click)="detailProduct(i)">Ver</a>
                </div>
              </div>
        </div>
    </div>   
    <div class="col-sm-2"></div>
</div>


