<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Tienda Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mantenedores">Mantenedores</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ng-container *ngIf="auth.isAuthenticated$ | async; ">      
          <button class="btn btn-outline-danger my-2 my-sm-0" (click)="auth.logout({returnTo: document.location.origin})">Salir</button> <h1 hidden>-</h1>
        </ng-container>
        <ng-template>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="auth.loginWithRedirect()">Ingresar</button> <h1 hidden>-</h1>
        </ng-template>     
      </form> 
    </div>
  </nav>
